@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.item-container{
    background-color: #24678A;
    border-style: solid;
    border-color: #03375c;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-between;
   width: 30vw !important;
   margin: 1rem;
}
.item-img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 10px;
}
.item-titulo-list{
    color: azure;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    width: 10rem;
}

.btn-item{
    width: fit-content;
    height: max-content;
    border-radius: 0;
}