.container-detail{
    width: 18rem;
    height: fit-content;
    margin: auto;
    background-color: rgba(240, 255, 255,0.1);
    border: #24678A solid 1px;
}

.detail{
    border-radius: 10%;
    background-color: rgb(240, 255, 255);
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.detail-img{
    width: 10rem;
    height: 10rem;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-desc{
    font-size: smaller;
}
.item-titulo{
    font-size: large;
    color: #24678A;
}
.spinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
}