.itemCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 1px #021421;
    margin: 1rem;
    
}
.itemCart-img{
    height: 4rem;
    width: 4rem;
    align-self: center;

}